#hero {
  background: url("../../assets/img/back%20groud%20white.png") left / cover no-repeat;
  width: 100%;
  height: 12vh;
  color: rgb(255,255,255);
  margin: 0px;
  padding: 1px;
  margin-right: 0px;
  padding-right: 1px;
  margin-left: -2;
}

@media (min-width: 768px) {
  #hero {
    background: url("../../assets/img/back%20groud%20white.png") center / cover no-repeat;
    width: 100%;
    height: 12vh;
    color: rgb(255,255,255);
  }
}

#nav-items:hover {
  color: #ffffff;
  background-color: #0000ff;
}

#nav-project:hover {
  background-color: #0000ff;
}

#nav-plan:hover {
  background-color: #0000ff;
}

#nav-contact:hover {
  background-color: #0000ff;
}

#nav-login:hover {
  background-color: #0000ff;
}

#main-nav {
}

#nav-home {
  margin-right: 10px;
}

#nav-home:hover {
  background-color: #3835d4b3;
}

#nav-items-1:hover {
  background-color: #0000ff;
}

#nav-txt-home {
  margin-right: 4px;
  margin-left: 4px;
}

#nav-txt-about {
  margin-left: 4px;
  margin-right: 4px;
}

#nav-txt-project {
  margin-left: 4px;
  margin-right: 4px;
}

#nav-txt-plan {
  margin-left: 4px;
  margin-right: 4px;
}

#nav-txt-contact {
  margin-left: 4px;
  margin-right: 4px;
}

#nav-txt-login {
  margin-left: 4px;
  margin-right: 4px;
}

#nav-btn-singup {
  margin-left: 10px;
}

#nav-txt-home {
  color: black;
}

#nav-txt-home:hover {
  color: #ffffff;
}

#nav-txt-about {
  color: black;
}

#nav-txt-about:hover {
  color: #ffffff;
}

#nav-txt-project {
  color: black;
}

#nav-txt-project:hover {
  color: white;
}

#nav-txt-plan {
  color: black;
}

#nav-txt-plan:hover {
  color: white;
}

#nav-txt-contact {
  color: black;
}

#nav-txt-contact:hover {
  color: white;
}

#nav-txt-login {
  color: black;
}

#nav-txt-login:hover {
  color: white;
}

#nav-btn-singup:hover {
  color: var(--bs-primary);
  background-color: black;
}

#container-1 {
  color: rgb(0,0,0);
  padding-top: 180px;
}

#btn-getstart {
  color: black;
  background-color: transparent;
  border: solid black;
  border-radius: 30px;
}

#btn-getstart:hover {
  color: white;
  background-color: black;
}

#image1 {
  width: 100%;
  height: 100%;
}

#financial-free {
  color: #0000ff;
}

#tittle {
}

#tittle {
  padding-top: 46px;
}

#body-section {
  padding-top: 20px;
}

#about-div {
  padding-top: 14px;
}

#btn-more-detail {
  color: black;
  background-color: rgba(13,110,253,0.26);
  border-color: #0000ff;
  border-radius: 24px;
}

#btn-more-detail:hover {
  color: white;
  background-color: blue;
}

#carosul-row {
}

#div-carosoul {
  padding-top: 18px;
}

#how-to-do-row {
  padding-top: 22px;
}

#image-contactus {
  height: 100%;
  width: 100%;
}

